{% extends 'navbar.html'%}

{% block content %}
<div class="card"  style="align-items: center; align-content: center; width: 70%; padding-left: 30%;">
<h1>Add todo</h1>
<form action="{% url 'create_todo'%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="title" aria-describedby="" placeholder="Enter title" required name="title">
    
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <textarea class="form-control" name="desc" id="desc" cols="30" rows="10"  required placeholder="Enter Description" ></textarea>

    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

{% endblock content %}